<app-loader *ngIf="isLoading"></app-loader>
<div class="all-sections" *ngIf="!isLoading">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="jumbo-heading aos-init aos-animate" data-aos="fade-up">
        <h1>{{ "adoptingPetsPage.heroTitle" | translate }}</h1>
      </div>
    </div>
    <!-- /jumbo-heading -->
  </div>

  <div class="main-div dog">
    <div class="bg jumbotron-fluid">
      <div class="container">
      </div>
      <!-- /jumbo-heading -->
    </div>
    <div class="section-heading text-center">
      <h2 class="heading-of-dog heading-main-title" [ngClass]="{'detalis': currentLang==='ar'}"> {{
        "adoptingPetsPage.mainTitle" | translate }}
        <i class="fa-solid fa-paw"></i>
      </h2>
    </div>


    <div class="row justify-content-center text-center mb-5 title-products">
      <div class="col-md-10 col-lg-8">
        <div class="header-section">
          <h2 class="main-title fw-bold" [ngClass]="{'detalis': currentLang==='ar'}">{{ "adoptingPetsPage.dogsTitle" |
            translate }}</h2>
        </div>
      </div>
    </div>
    <div class="main-cart main-background">
      <p-carousel [value]="dogsData" [numVisible]="2" [numScroll]="2" [circular]="true"
        [responsiveOptions]="carouselResponsiveOptions" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-pet pTemplate="item">
          <div class="product-card mx-3 card  pattern">
            <section id="adoption-home" class="container-fluid ps-0 pr-0 overlay-dark bg-fixed">
              <div class="container">

                <div class="adopt-card res-margin " [ngClass]="{'main-cart-ar': currentLang==='ar'}">
                  <div class="adopt-image ">
                    <img class="product-card-img-top" src="../../../assets/pets/{{pet.pet_information.image_url}}"
                      alt="">
                  </div>
                  <div class="caption-adoption" [ngClass]="{'detalis': currentLang==='ar'}">
                    <!-- List -->
                    <ul class="list-unstyled">
                      <h4 class="product-card-name">{{ pet.pet_information.name.slice(0, 12) }}<span
                          *ngIf="pet.pet_information.name.slice(0, 12) !== pet.pet_information.name">..</span>
                      </h4>
                      <p class=" product-card-para pb-2">{{ "adoptingPetsPage.breed" | translate }}: {{
                        pet.pet_information.breed }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.gender" | translate }}: {{
                        pet.pet_information.gender }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.age" | translate }}: {{
                        pet.pet_information.age }} {{ "adoptingPetsPage.year" | translate }} </p>
                      <!-- <p class="product-card-para pb-2">Weight: {{ pet.pet_information.weight }} Kg </p> -->
                    </ul>
                  </div>
                </div>

                <div class="col-md-12 mt-3">
                  <div class="row">
                    <p class="subtitle">{{ "adoptingPetsPage.adoptionDescription" | translate }}</p>
                    <div class="col-md-12 card-button"><a>
                        <div class="card-button-inner bag-button" (click)="onMoreInfo(pet)">
                          <span class="more-info-btn">{{ "adoptingPetsPage.detailsBtn" | translate }}</span>
                        </div>
                      </a></div>
                  </div>
                </div>


              </div>
            </section>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>




  <div class="main-div cat">
    <div class="bg-for-cats jumbotron-fluid">
      <div class="container">
      </div>
      <!-- /jumbo-heading -->
    </div>
    <!-- <div class="section-heading text-center">
      <h2 class="heading-of-cat heading-main-title"> {{ "adoptingPetsPage.mainTitle" | translate }}
        <i class="fa-solid fa-paw"></i>
      </h2>
    </div> -->


    <div class="row justify-content-center text-center  title-products title-products-2">
      <div class="col-md-10 col-lg-8">
        <div class="header-section mt-5">
          <h2 class="main-title fw-bold" [ngClass]="{'detalis': currentLang==='ar'}">{{
            "adoptingPetsPage.catsTitle" | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="main-cart-2 main-background">
      <p-carousel [value]="catsData" [numVisible]="2" [numScroll]="2" [circular]="true"
        [responsiveOptions]="carouselResponsiveOptions" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-pet pTemplate="item">
          <div class="product-card mx-3 card  pattern">
            <section id="adoption-home" class="container-fluid ps-0 pr-0 overlay-dark bg-fixed">
              <div class="container">

                <div class="adopt-card res-margin " [ngClass]="{'main-cart-ar': currentLang==='ar'}">
                  <div class="adopt-image ">
                    <img class="product-card-img-top" src="../../../assets/pets/{{pet.pet_information.image_url}}"
                      alt="">
                  </div>
                  <div class="caption-adoption" [ngClass]="{'detalis': currentLang==='ar'}">
                    <!-- List -->
                    <ul class="list-unstyled">
                      <h4 class="product-card-name">{{ pet.pet_information.name.slice(0, 12) }}<span
                          *ngIf="pet.pet_information.name.slice(0, 12) !== pet.pet_information.name">..</span>
                      </h4>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.breed" | translate }}: {{
                        pet.pet_information.breed }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.gender" | translate }}: {{
                        pet.pet_information.gender }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.age" | translate }}: {{
                        pet.pet_information.age }} {{ "adoptingPetsPage.year" | translate }} </p>
                      <!-- <p class="product-card-para pb-2">Weight: {{ pet.pet_information.weight }} Kg </p> -->

                    </ul>
                  </div>
                </div>

                <div>
                  <p class="subtitle">{{
                    "adoptingPetsPage.adoptionDescription" | translate }}</p>
                  <div>
                    <div class="col-md-12 card-button"><a>
                        <div class="card-button-inner bag-button" (click)="onMoreInfo(pet)">
                          <span class="more-info-btn">{{
                            "adoptingPetsPage.detailsBtn" | translate }}</span>
                        </div>
                      </a></div>
                  </div>
                </div>


              </div>
            </section>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>



  <div class="main-div bird">
    <div class="bg-for-bird jumbotron-fluid">
      <div class="container">
      </div>
    </div>
    <!-- <div class="section-heading text-center">
      <h2 class="heading-of-cat heading-main-title"> {{ "adoptingPetsPage.mainTitle" | translate }}
        <i class="fa-solid fa-paw"></i>
      </h2>
    </div> -->


    <div class="row justify-content-center text-center  title-products title-products-2">
      <div class="col-md-10 col-lg-8">
        <div class="header-section mt-5">
          <h2 class="main-title fw-bold" [ngClass]="{'detalis': currentLang==='ar'}">{{
            "adoptingPetsPage.birdsTitle" | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="main-cart-3 main-background">
      <p-carousel [value]="birdsData" [numVisible]="2" [numScroll]="2" [circular]="true"
        [responsiveOptions]="carouselResponsiveOptions" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-pet pTemplate="item">
          <div class="product-card mx-3 card  pattern">
            <section id="adoption-home" class="container-fluid ps-0 pr-0 overlay-dark bg-fixed">
              <div class="container">

                <div class="adopt-card res-margin " [ngClass]="{'main-cart-ar': currentLang==='ar'}">
                  <div class="adopt-image ">
                    <img class="product-card-img-top" src="../../../assets/pets/{{pet.pet_information.image_url}}"
                      alt="">
                  </div>
                  <div class="caption-adoption" [ngClass]="{'detalis': currentLang==='ar'}">
                    <!-- List -->
                    <ul class="list-unstyled">
                      <h4 class="product-card-name">{{ pet.pet_information.name.slice(0, 12) }}<span
                          *ngIf="pet.pet_information.name.slice(0, 12) !== pet.pet_information.name">..</span>
                      </h4>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.breed" | translate }}: {{
                        pet.pet_information.breed }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.gender" | translate }}: {{
                        pet.pet_information.gender }}</p>
                      <p class="product-card-para pb-2">{{ "adoptingPetsPage.age" | translate }}: {{
                        pet.pet_information.age }} {{ "adoptingPetsPage.year" | translate }} </p>
                      <!-- <p class="product-card-para pb-2">Weight: {{ pet.pet_information.weight }} Kg </p> -->

                    </ul>
                  </div>
                </div>

                <div>
                  <p class="subtitle">{{
                    "adoptingPetsPage.adoptionDescription" | translate }}</p>
                  <div>
                    <div class="col-md-12 card-button"><a>
                        <div class="card-button-inner bag-button" (click)="onMoreInfo(pet)">
                          <span class="more-info-btn">{{
                            "adoptingPetsPage.detailsBtn" | translate }}</span>
                        </div>
                      </a></div>
                  </div>
                </div>


              </div>
            </section>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>

  <div class="main-div other-pets">
    <div class="bg-for-other-pets jumbotron-fluid">
      <div class="container">
      </div>
      <!-- /jumbo-heading -->
    </div>


    <div class="row justify-content-center text-center title-products title-products-2">
      <div class="col-md-10 col-lg-8">
        <div class="header-section mt-5">
          <h2 class="main-title fw-bold">{{
            "adoptingPetsPage.othersPetsTitle" | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="main-cart-4 main-background">
      <p-carousel [value]="othersData" [numVisible]="2" [numScroll]="2" [circular]="true"
        [responsiveOptions]="carouselResponsiveOptions" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-pet pTemplate="item">
          <div class="product-card mx-3 card  pattern">
            <section id="adoption-home" class="container-fluid ps-0 pr-0 overlay-dark bg-fixed">
              <div class="container">

                <div class="adopt-card res-margin " [ngClass]="{'main-cart-ar': currentLang==='ar'}">
                  <div class="adopt-image ">
                    <img class="product-card-img-top" src="../../../assets/pets/{{pet.pet_information.image_url}}"
                      alt="">
                  </div>
                  <div class="caption-adoption " [ngClass]="{'detalis': currentLang==='ar'}">
                    <!-- List -->
                    <ul class="list-unstyled">
                      <h4 class="product-card-name">{{
                        pet.pet_information.name.slice(0, 12) }}<span
                          *ngIf="pet.pet_information.name.slice(0, 12) !== pet.pet_information.name">..</span>
                      </h4>
                      <p class="product-card-para pb-2">{{
                        "adoptingPetsPage.breed" | translate }}: {{
                        pet.pet_information.breed }}</p>
                      <p class="product-card-para pb-2">{{
                        "adoptingPetsPage.gender" | translate }}: {{
                        pet.pet_information.gender }}</p>
                      <p class="product-card-para pb-2">
                        {{
                        "adoptingPetsPage.age" | translate }}: {{
                        pet.pet_information.age }} {{ "adoptingPetsPage.year" | translate }} </p>
                      <!-- <p class="product-card-para pb-2">Weight: {{ pet.pet_information.weight }} Kg </p> -->

                    </ul>
                  </div>
                </div>

                <div>
                  <p class="subtitle">{{
                    "adoptingPetsPage.adoptionDescription" | translate }}</p>
                  <div>
                    <div class="col-md-12 card-button"><a>
                        <div class="card-button-inner bag-button" (click)="onMoreInfo(pet)">
                          <span class="more-info-btn"> {{
                            "adoptingPetsPage.detailsBtn" | translate }}</span>
                        </div>
                      </a></div>
                  </div>
                </div>


              </div>
            </section>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>

</div>
<!-- <div class="last-background">
  <h1>hero</h1>
</div> -->